<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reality</title>
</head>
<body>
{% if latest_reality_list %}
    <ul>
    {% for reality in latest_reality_list %}
        <li><a href="{% url 'reality:detail' reality.id %}">{{ reality.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No realities are available.</p>
{% endif %}
<form action="{%  url 'reality:add' %}" method="post">
{% csrf_token %}
    <input type="text" name="add_reality" />
    <input type="submit" value="add" />
</form>

</body>
</html>